<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
        <meta name="viewport" content= "width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>ali ayad</title>
    <meta name="description" content="Ali ayad">
    <meta name="keywords"
        content="" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.webp" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/icon/192x192.png">
    <link rel="stylesheet" href="../assets/css/style1.css">
</head>
<style>
    


    .body{
  display: inline-block;
    height: 100%;
    
    
    
    }
    
    
    
    
    
    
    .buttons {}
    
    .operators {}
    
    
    
    
    
    .operators div:active {
      font-weight: bold;
    }
    
    .leftPanel {
      display: inline-block;
    }
    
    .numbers div {
     
      display: inline-block;
     
      border-radius: 12px;
      width: 25%;
      text-align: center;
      padding: 10px;
      margin: 10px 4px 10px 0;
      cursor: pointer;
      background-color: #fff;
      
      transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
    }
    
    #bottom {
 position: relative;
  bottom: 0;
left: 0;
}
    
    
    
        </style>
    
<body onload="converter();">

   
 <!-- App Header -->
 <div class="appHeader">
    <div class="left">
        <a href="#" onclick="refresh();" class="headerButton" onclick="toast('toast-1', 2000)">
            <div id="snackbar">تم تحديث أسعار ألصرف</div>
            <img id="imgR" src="../assets/img/sample/icons/refresh.png" alt="image" class="imaged w32">
            <br>
        </a>
       
    </div>
    <div class="pageTitle" style="font-family: lateef, sarif; font-size: 30px;">
       محول ألعملة
    </div>
    <div class="right">
        <a href="home.html" class="headerButton goBack">
            <img class="rotate90" id="imgR" src="../assets/img/sample/icons/back.png" alt="image" style="width: 32px; height: 32px;">
        </a>



    </div>
</div>
<!-- * App Header -->




    <!-- App Capsule -->
    <div id="appCapsule" style="padding-top: 35px; padding-bottom: 0px;">




        <a data-toggle="modal" data-target="#actionSheetIconed">
            <br>
                            <h3 style="text-align: center; font-family: lateef , sarif ; font-size: 24px;" id="n1"><ليرة لبنانية</h3>
                            <div style="text-align: center;" class="mb-1" >
                                
                                
                                <img id="img1" src="../assets/img/sample/icons/leb.png" alt="image" class="imaged w64">
            
                            </div>
                             </a>
                               <h2 style="text-align: center;" id="input">0 L.L.</h2>

                        
                       
                        <div style="text-align: center;" class="mb-1">
                                
                   
                            <img src="../assets/img/sample/icons/convertSymbol.png" alt="image" class="imaged w32">
                       
                        </div>
                        <a data-toggle="modal" data-target="#actionSheetIconed1">

                        <h3 style="text-align: center; font-family: lateef , sarif; font-size: 24px;" id="n2"><دولار امريكي</h3>
                        <div style="text-align: center;" class="mb-1">
                            
               
                            <img id="img2" src="../assets/img/sample/icons/dollar.png" alt="image" class="imaged w64">
                       
                        </div>
                        </a>
                       <h2 style="text-align: center;" id="output">0 $</h2>
                          
                    </div>
                        </div>

                    </div>
                </div>
            </div>

    
       


    </div>



    <!--keybord    --------------------------------------->

    <div class="section full mt-2" id="bottom" style="background-color: #fff; height: 100%; ">
     
    
        <div class="buttons" style="text-align: center;">
     

              
            <div class="numbers">
              <div id="7"><h2>7</h2></div>
              <div id="8"><h2>8</h2></div>
             <div id="9" ><h2>9</h2></div>
             
     
              
             
            </div>
            <div class="numbers">
              <div id="4"><h2>4</h2></div>
              <div id="5"><h2>5</h2></div>
              <div id="6"><h2>6</h2></div>
            </div>
            <div class="numbers">
              <div id="1"><h2>1</h2></div>
              <div id="2"><h2>2</h2></div>
              <div id="3"><h2>3</h2></div>
            </div>
            <div class="numbers">
              <div id="0"><h2>0</h2></div>
              <div id="dec"><h2></h2></div>
              <div id="clear"><h2>X</h2></div>
            </div>
          </div>

        </div>
      </div>
     </div>
      <!--*keyboar =-===------------------------------------------------->
    <!-- * App Capsule -->

    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="more.html" class="item">
            <div class="col">
                <img src="../assets/img/sample/icons/more_black.png" alt="img" class="image-block imaged w24">
                <strong style="font-family: 'Lateef',  serif; font-size: 15px;">المزيد</strong>
            </div>
            <a href="news.html" class="item">
                <div class="col">
                    <img src="../assets/img/sample/icons/newsbl.png" alt="img" class="image-block imaged w24">
                    <strong style="font-family: 'Lateef',  serif; font-size: 15px;">ألاخبار</strong>
                </div>
     
                <a href="convert.html" class="item active">
                    <div class="col">
                        <img src="../assets/img/sample/icons/convertbl.png" alt="img" class="image-block imaged w24">
                        <strong style="font-family: 'Lateef',  serif; font-size: 15px;">محول العملة</strong>
                    </div>
                </a>
            </a>
            
                
            </a>
            <a href="prices.html" class="item">
                <div class="col">
                    <img src="../assets/img/sample/icons/price_black.png" alt="img" class="image-block imaged w24">
                    <strong style="font-family: 'Lateef',  serif; font-size: 15px;">ألاسعار</strong>
                </div>
            </a>
        </a>
        
        <a href="home.html" class="item">
            <div class="col">
                <img src="../assets/img/sample/icons/home_black.png" alt="img" class="image-block imaged w24">
                <strong style="font-family: 'Lateef',  serif; font-size: 15px;">الرئيسية</strong>
            </div>
        </a>



    </div>
    <!-- * App Bottom Menu -->



<br><br>

 <!-- Iconed Action Sheet -->
 <div class="modal fade action-sheet" id="actionSheetIconed" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">أختر عملة</h5>
            </div>
            <div class="modal-body">
                <ul class="action-button-list">
                    <li id="l1">
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليرة ألبنانية</h5>
                            <img src="../assets/img/sample/icons/lbp.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    <li class="action-divider"></li>
                    <li id="d1">
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title" id="d1">ألدولار</h5>
                            <img src="../assets/img/sample/icons/dollar.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    <li class="action-divider"></li>
                    <li id="s1">
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليرة ألسورية</h5>
                            <img src="../assets/img/sample/icons/ls.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    <li class="action-divider"></li>
                    <li id="e1">
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليورو</h5>
                            <img src="../assets/img/sample/icons/euroc.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- * Iconed Action Sheet -->


<!-- Iconed Action Sheet -->
<div class="modal fade action-sheet" id="actionSheetIconed1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">أختر عملة</h5>
            </div>
            <div class="modal-body">
                <ul class="action-button-list">
                    <li id="l1d">
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليرة ألبنانية</h5>
                            <img src="../assets/img/sample/icons/lbp.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    <li class="action-divider"></li>
                    <li id="d1d">
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">ألدولار</h5>
                            <img src="../assets/img/sample/icons/dollar.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li >
                    <li class="action-divider"></li>
                    <li id="s1d">
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليرة ألسورية</h5>
                            <img src="../assets/img/sample/icons/ls.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    <li class="action-divider"></li>
                    <li id="e1d">
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليورو</h5>
                            <img src="../assets/img/sample/icons/euroc.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- * Iconed Action Sheet -->




   
  


    <script src="../assets/js/lib/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="../assets/js/lib/popper.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="../assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Base Js File -->

   

    <script src="../assets/js/main.js"></script>




    <!-- firebase --------->
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

    <script>
        // Your web app's Firebase configuration
        const firebaseConfig = {

            apiKey: "AIzaSyA9F9f6e_p6wlL8MzngFLNPf7fe1Dntt-g",

            authDomain: "sho-s3ro.firebaseapp.com",

            databaseURL: "https://sho-s3ro-default-rtdb.firebaseio.com",

            projectId: "sho-s3ro",

            storageBucket: "sho-s3ro.appspot.com",

            messagingSenderId: "374838538187",

            appId: "1:374838538187:web:5c6df9d0556dd2eef3d04e",

            measurementId: "G-5MMN5RVQTD"

        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>

    <!--fire base is done babe-->


</body>

</html>
