<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Finapp</title>
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/icon/192x192.png">
    <link rel="stylesheet" href="../assets/css/style1.css">
</head>

<body>

   

    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">
            Exchange
        </div>
        <div class="right">
            <a href="#" class="headerButton" onclick="toastbox('toast-1', 2000)">
                <ion-icon name="refresh"></ion-icon>
            </a>
        </div>
    </div>
    <!-- * App Header -->

    <!-- toast top -->
    <div id="toast-1" class="toast-box toast-top tap-to-close bg-primary">
        <div class="in">
            <div class="text">
                Exchange rates have been updated!
            </div>
        </div>
    </div>
    <!-- * toast top -->


    <!-- App Capsule -->
    <div id="appCapsule" style="padding-top: 35px; padding-bottom: 0px;">




        <a data-toggle="modal" data-target="#actionSheetIconed">
                            <h3 style="text-align: center;">LBP ></h3>
                            <div style="text-align: center;" class="mb-1">
                                
                                
                                <img src="../assets/img/sample/icons/leb.png" alt="image" class="imaged w64">
                          
                            </div>
                             </a>
                               <h2 style="text-align: center;" id="input">20,000L.L</h2>

                        
                       
                        <div style="text-align: center;" class="mb-1">
                                
                   
                            <img src="../assets/img/sample/icons/exchange.png" alt="image" class="imaged w32">
                       
                        </div>
                        <a data-toggle="modal" data-target="#actionSheetIconed1">

                        <h3 style="text-align: center;">SYRIA></h3>
                        <div style="text-align: center;" class="mb-1">
                            
               
                            <img src="../assets/img/sample/icons/syria.png" alt="image" class="imaged w64">
                       
                        </div>
                        </a>
                       <h2 style="text-align: center;" id="output">3,500S.L</h2>
                          
                    </div>
                        </div>

                    </div>
                </div>
            </div>

    
       


    </div>



    <!--keybord    --------------------------------------->

    <div class="section full mt-2" style="background-color: #fff; height: 50%;">
     
    
        <div class="buttons" style="text-align: center;">
     

              
            <div class="numbers">
              <div id="7"><h2>7</h2></div>
              <div id="8"><h2>8</h2></div>
             <div id="9" ><h2>9</h2></div>
             
     
              
             
            </div>
            <div class="numbers">
              <div id="4"><h2>4</h2></div>
              <div id="5"><h2>5</h2></div>
              <div id="6"><h2>6</h2></div>
            </div>
            <div class="numbers">
              <div id="1"><h2>1</h2></div>
              <div id="2"><h2>2</h2></div>
              <div id="3"><h2>3</h2></div>
            </div>
            <div class="numbers">
              <div id="0"><h2>0</h2></div>
              <div id="dec"><h2>.</h2></div>
              <div id="clear"><h2>X</h2></div>
            </div>
          </div>

        </div>
      </div>
     </div>
      <!--*keyboar =-===------------------------------------------------->
    <!-- * App Capsule -->

<!-- App Bottom Menu -->
<div class="appBottomMenu">
    <a href="info.html" class="item">
        <div class="col">
            <img src="../assets/img/sample/icons/more_black.png" alt="img" class="image-block imaged w24">
            <strong>المزيد</strong>
        </div>
        <a href="news.html" class="item">
            <div class="col">
                <img src="../assets/img/sample/icons/newsbl.png" alt="img" class="image-block imaged w24">
                <strong>ألاخبار</strong>
            </div>
 
            <a href="convert.html" class="item active">
                <div class="col">
                    <img src="../assets/img/sample/icons/convertbl.png" alt="img" class="image-block imaged w24">
                    <strong>محول العملة</strong>
                </div>
            </a>
        </a>
        
            
        </a>
        <a href="prices.html" class="item">
            <div class="col">
                <img src="../assets/img/sample/icons/price_black.png" alt="img" class="image-block imaged w24">
                <strong>ألاسعار</strong>
            </div>
        </a>
    </a>
    
    <a href="home.html" class="item">
        <div class="col">
            <img src="../assets/img/sample/icons/home_black.png" alt="img" class="image-block imaged w24">
            <strong>الرئيسية</strong>
        </div>
    </a>



</div>
<!-- * App Bottom Menu -->





 <!-- Iconed Action Sheet -->
 <div class="modal fade action-sheet" id="actionSheetIconed" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">أختر عملة</h5>
            </div>
            <div class="modal-body">
                <ul class="action-button-list">
                    <li>
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليرة ألبنانية</h5>
                            <img src="../assets/img/sample/icons/lbp.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    <li class="action-divider"></li>
                    <li>
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">ألدولار</h5>
                            <img src="../assets/img/sample/icons/dollar.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    <li class="action-divider"></li>
                    <li>
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليرة ألسورية</h5>
                            <img src="../assets/img/sample/icons/ls.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    <li class="action-divider"></li>
                    <li>
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليورو</h5>
                            <img src="../assets/img/sample/icons/euroc.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- * Iconed Action Sheet -->


<!-- Iconed Action Sheet -->
<div class="modal fade action-sheet" id="actionSheetIconed1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">أختر عملة</h5>
            </div>
            <div class="modal-body">
                <ul class="action-button-list">
                    <li>
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليرة ألبنانية</h5>
                            <img src="../assets/img/sample/icons/lbp.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    <li class="action-divider"></li>
                    <li>
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">ألدولار</h5>
                            <img src="../assets/img/sample/icons/dollar.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    <li class="action-divider"></li>
                    <li>
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليرة ألسورية</h5>
                            <img src="../assets/img/sample/icons/ls.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    <li class="action-divider"></li>
                    <li>
                        <a href="#" class="btn btn-list" data-dismiss="modal">
                            <span >
                             
                               
                                
                                
                            </span>
                            <h5 class="modal-title">أليورو</h5>
                            <img src="../assets/img/sample/icons/euroc.png" alt="img" class="image-block imaged w24">
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- * Iconed Action Sheet -->



   

    <script src="../assets/js/lib/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="../assets/js/lib/popper.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <!-- Ionicons -->
    <script src="../../../../unpkg.com/ionicons%405.0.0/dist/ionicons.js"></script>
    <!-- Owl Carousel -->
    <script src="../assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Base Js File -->
    <script src="../assets/js/base.js"></script>



<style>
    
body1 {
  width: 100%;
  margin: 4% auto;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}








.buttons {}

.operators {}





.operators div:active {
  font-weight: bold;
}

.leftPanel {
  display: inline-block;
}

.numbers div {
 
  display: inline-block;
 
  border-radius: 12px;
  width: 25%;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #fff;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}





    </style>


</body>

</html>
