<!doctype html>
<html lang="ar">


<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Finapp - Mobile Template</title>
    <link rel="stylesheet" href="../assets/css/style1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords" content="bootstrap, mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" sizes="32x32">
    <link rel="shortcut icon" href="../assets/img/favicon.png">
</head>


<!--firebase Script-------------------------------------------------------------------->

<!-- *firebase Script-------------------------------------------------------------------->

<body onload="getdata();">
    <script type="text/javascript" src="../assets/js/main.js">


    </script>


    <!-- App Header -->
    <div class="appHeader bg-primary text-light">
        <div class="left">
            <a href="#" class="headerButton" data-toggle="modal" data-target="#sidebarPanel">
                <img src="../assets/img/sample/icons/dark.png" alt="image" class="imaged w32">
         
            </a>
        </div>
        <div class="pageTitle">
           <h2 style="color: white;">Sho S3ro</h2>
        </div>
        
    </div>
    <!-- * App Header -->


    <!-- App Capsule -->
    <div id="appCapsule">

        <!-- Wallet Card -->
        <div class="section wallet-card-section pt-1">
            <div class="wallet-card">
                <!-- Balance -->
                <div class="balance">

                    <div class="left">

                        <a href="#" class="button" data-toggle="modal" onclick="getdata();">
                            <img src="../assets/img/sample/icons/up.webp" alt="img" class="image-block imaged w48">
                        </a>
                    </div>
                    <div class="right">
                        <div id="loadd1" class="spinner-grow text-primary" role="status">
                        </div>
                        <span class="title">Total Balance</span>
                        <h1 class="total" id='lbpMain'>...تحديث</h1>
                    </div>
                </div>
                <!-- * Balance -->
                <!-- Wallet Footer -->
                <div class="wallet-footer">



                    <div class="item">
                        <a href="#" data-toggle="modal" id="refresh">
                            <div class="icon-wrapper bg-warning">
                                <img src="../assets/img/sample/icons/refresh.png" alt="img"
                                    class="image-block imaged w48">
                            </div>
                            <strong style="font-family: 'Lateef',  serif; font-size: 20px;">تحديث الاسعار</strong>
                        </a>
                    </div>
                    <div class="item">
                        <a id="eu">
                            <div class="icon-wrapper bg-success">
                                <img src="../assets/img/sample/icons/euro.png" alt="img" class="image-block imaged w48">
                            </div>
                            <strong style="font-family: 'Lateef',  serif; font-size: 20px;">يورو</strong>
                        </a>
                    </div>
                    
                    <div class="item">
                        <a href="#" data-toggle="modal" id="syr">
                            <div class="icon-wrapper">
                                <img src="../assets/img/sample/icons/syria.png" alt="img"
                                    class="image-block imaged w48">
                            </div>
                            <strong style="font-family: 'Lateef',  serif; font-size: 20px;">الليرة السورية</strong>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" data-toggle="modal" id="leb">
                            <div class="icon-wrapper bg-danger">
                                <img src="../assets/img/sample/icons/leb.png" alt="img" class="image-block imaged w48">
                            </div>
                            <strong style="font-family: 'Lateef',  serif; font-size: 20px;">الليرة اللبنانية</strong>
                        </a>
                    </div>


                    <!-- * Wallet Footer -->
                </div>
            </div>
            <!-- Wallet Card -->

           
            <!-- Stats -->
            <div class="section">
                <div class="row mt-2">
                    <div class="col-6">
                        <div class="stat-box">
                            <div class="title">شراء</div>
                            <div id="loadd2" class="spinner-grow text-primary" role="status">
                            </div>
                            <div class="value text-success" id="buyText">...تحديث</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="stat-box">
                            <div class="title">بيع</div>
                            <div id="loadd3" class="spinner-grow text-primary" role="status">
                            </div>
                            <div class="value text-danger" id="sellText">...تحديث</div>
                        </div>
                    </div>
                </div>
                <br>
                <h2>أمس</h2>
                <div class="row mt-2">
                    <div class="col-6">
                        <div class="stat-box">
                            <div class="title">شراء</div>
                            <div id="loadd4" class="spinner-grow text-primary" role="status">
                            </div>
                            <div class="value" id="pBuyText">...تحديث</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="stat-box">
                            <div class="title">بيع</div>
                            <div id="loadd5" class="spinner-grow text-primary" role="status">
                            </div>
                            <div class="value" id="pSellText">...تحديث</div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- * Stats -->
            <!-- Transactions -->
            <div class="section mt-2">
                <div class="section-title">النفط ومشتقاته</div>
                <div class="transactions">
                    <!-- item -->
                    <a href="app-transaction-detail.html" class="item">
                        <div class="right">
                            <div id="loadd6" class="spinner-grow text-primary" role="status">
                            </div>
                            <div class="price text-danger" id="gas">5,000L.L</div>
                        </div>

                        <div class="detail">
                            <div>

                                <strong style="font-family: 'Lateef',  serif; font-size: 25px;">غاز</strong>
                                <p>12 KG</p>
                            </div>
                            <img src="../assets/img/sample/icons/gas.png" alt="img" class="image-block imaged w48">

                        </div>

                    </a>
                    <!-- * item -->
                    <!-- item -->
                    <a href="app-transaction-detail.html" class="item">
                        <div class="right">
                            <div id="loadd7" class="spinner-grow text-primary" role="status">
                            </div>
                            <div class="price text-danger" id="g95">5,000L.L</div>
                        </div>

                        <div class="detail">
                            <div>
                                <strong style="font-family: 'Lateef',  serif; font-size: 25px;">بنزين ٩٥ أوكتان</strong>
                                <p>1 LITER</p>
                            </div>
                            <img src="../assets/img/sample/icons/octan_f.webp" alt="img" class="image-block imaged w48">

                        </div>

                    </a>
                    <!-- * item -->
                    <!-- item -->
                    <a href="app-transaction-detail.html" class="item">
                        <div class="right">
                            <div id="loadd8" class="spinner-grow text-primary" role="status">
                            </div>
                            <div class="price text-danger" id="g98">5,000L.L</div>
                        </div>

                        <div class="detail">
                            <div>
                                <strong style="font-family: 'Lateef',  serif; font-size: 25px;">بنزين ٩٨ أوكتان</strong>
                                <p>1 LITER</p>
                            </div>
                            <img src="../assets/img/sample/icons/95_f.png" alt="img" class="image-block imaged w48">

                        </div>

                    </a>
                    <!-- * item -->
                    <!-- item -->
                    <a href="app-transaction-detail.html" class="item">
                        <div class="right">
                            <div id="loadd9" class="spinner-grow text-primary" role="status">
                            </div>
                            <div class="price text-danger" id="disl">5,000L.L</div>
                        </div>

                        <div class="detail">
                            <div>
                                <strong style="font-family: 'Lateef',  serif; font-size: 25px;">ديزل</strong>
                                <p>1 LITER</p>
                            </div>
                            <img src="../assets/img/sample/icons/octan-oil.png" alt="img"
                                class="image-block imaged w48">

                        </div>

                    </a>
                    <!-- * item -->
                </div>
            </div>
      


<br>
    <div class="alert alert-outline-danger mb-1" role="alert" style="text-align: center; background-color: #fff;">
        <h3 style="margin-bottom: 0px; text-align: center;";>!تنبيه!</h3>
            <br>
            نحن لا نبيع او نشتري اي عملات اجنبية وليس لدينا اي تأثير على سعر صرفها
    </div>




     

 
    <!-- * App Capsule -->


    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="more.html" class="item">
            <div class="col">
                <img src="../assets/img/sample/icons/more_black.png" alt="img" class="image-block imaged w24">
                <strong style="font-family: 'Lateef',  serif; font-size: 15px;">المزيد</strong>
            </div>
            <a href="news.html" class="item">
                <div class="col">
                    <img src="../assets/img/sample/icons/newsbl.png" alt="img" class="image-block imaged w24">
                    <strong style="font-family: 'Lateef',  serif; font-size: 15px;">ألاخبار</strong>
                </div>
     
                <a href="convert.html" class="item">
                    <div class="col">
                        <img src="../assets/img/sample/icons/convert.png" alt="img" class="image-block imaged w24">
                        <strong style="font-family: 'Lateef',  serif; font-size: 15px;">محول العملة</strong>
                    </div>
                </a>
            </a>
            
                
            </a>
            <a href="prices.html" class="item">
                <div class="col">
                    <img src="../assets/img/sample/icons/price_black.png" alt="img" class="image-block imaged w24">
                    <strong style="font-family: 'Lateef',  serif; font-size: 15px;">ألاسعار</strong>
                </div>
            </a>
        </a>
        
        <a href="home.html" class="item active">
            <div class="col">
                <img src="../assets/img/sample/icons/home-bluel.png" alt="img" class="image-block imaged w24">
                <strong style="font-family: 'Lateef',  serif; font-size: 15px;">الرئيسية</strong>
            </div>
        </a>



    </div>
    <!-- * App Bottom Menu -->



    <!-- ///////////// Js Files ////////////////////  -->
    <!-- Jquery -->
    <script src="../assets/js/lib/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="../assets/js/lib/popper.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <!-- Ionicons -->
    <script src="../../../../../unpkg.com/ionicons%405.0.0/dist/ionicons.js"></script>
    <!-- Owl Carousel -->
    <script src="../assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Base Js File -->
    <script src="../assets/js/base.js"></script>


    <!-- firebase --------->
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

    <script>
        // Your web app's Firebase configuration
        const firebaseConfig = {

            apiKey: "AIzaSyA9F9f6e_p6wlL8MzngFLNPf7fe1Dntt-g",

            authDomain: "sho-s3ro.firebaseapp.com",

            databaseURL: "https://sho-s3ro-default-rtdb.firebaseio.com",

            projectId: "sho-s3ro",

            storageBucket: "sho-s3ro.appspot.com",

            messagingSenderId: "374838538187",

            appId: "1:374838538187:web:5c6df9d0556dd2eef3d04e",

            measurementId: "G-5MMN5RVQTD"

        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>

    <!--fire base is done babe-->





</body>


</html>