<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sho S3ro-News</title>
    <link rel="stylesheet" href="../assets/css/style1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" sizes="32x32">
    <link rel="shortcut icon" href="../assets/img/favicon.png">
</head>

<body style="font-family: lateef , sarif;" onload="lnews();">


  <!-- App Header -->
  <div class="appHeader">
    <div class="left">
        <a href="#" onclick="refresh();" class="headerButton" onclick="toast('toast-1', 2000)">
            <div id="snackbar" style="font-size: 25px;">تم تحديث ألأخبار</div>
            <img id="imgR" src="../assets/img/sample/icons/refresh.png" alt="image" class="imaged w32">
            <br>
        </a>
       
    </div>
    <div class="pageTitle" style="font-family: lateef, sarif; font-size: 30px;">
        ألاخبار
    </div>
    <div class="right">
        <a href="home.html" class="headerButton goBack">
            <img class="rotate90" id="imgR" src="../assets/img/sample/icons/back.png" alt="image" style="width: 32px; height: 32px;">
        </a>



    </div>
</div>
<!-- * App Header -->



    <!-- Extra Header -->
    <div class="extraHeader">
        <ul class="nav nav-tabs style1" role="tablist">
            <li class="nav-item">
                <a style="font-size: 25px;"class="nav-link" data-toggle="tab" onclick="snews();" role="tab">
                    سوريا
                </a>
            </li>
            <li class="nav-item">
                <a style="font-size: 25px;"class="nav-link active" data-toggle="tab" onclick="getSdata();" role="tab">
                     لبنان
                </a>
            </li>
        </ul>
    </div>
    <!-- * Extra Header -->


<br><br>
    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="section tab-content mt-2 mb-2">

            <div class="row">
                <div class="col-6 mb-2">
                    <a href="app-blog-post.html">
                        <div class="blog-card">
                            <img  id="i1"src="../assets/img/sample/icons/loading.png" alt="image" class="imaged w-100">
                            <div class="text">
                                <h4 style="font-size: 24px;" class="title" id="t1">عنوان</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 mb-2">
                    <a href="app-blog-post.html">
                        <div class="blog-card">
                            <img id="i2" src="../assets/img/sample/icons/loading.png" alt="image" class="imaged w-100">
                            <div class="text">
                                <h4 style="font-size: 24px;" class="title" id="t2">عنوان</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 mb-2">
                    <a href="app-blog-post.html">
                        <div class="blog-card">
                            <img id="i3" src="../assets/img/sample/icons/loading.png" alt="image" class="imaged w-100">
                            <div class="text">
                                <h4 style="font-size: 24px;" class="title" id="t3">عنوان</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 mb-2">
                    <a href="app-blog-post.html">
                        <div class="blog-card">
                            <img id="i4" src="../assets/img/sample/icons/loading.png" alt="image" class="imaged w-100">
                            <div class="text">
                                <h4 style="font-size: 24px;" class="title" id="t4">عنوان</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 mb-2">
                    <a href="app-blog-post.html">
                        <div class="blog-card">
                            <img id="i5" src="../assets/img/sample/icons/loading.png" alt="image" class="imaged w-100">
                            <div class="text">
                                <h4 style="font-size: 24px;" class="title" id="t5">عنوان</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 mb-2">
                    <a href="app-blog-post.html">
                        <div class="blog-card">
                            <img id="i6" src="../assets/img/sample/icons/loading.png" alt="image" class="imaged w-100">
                            <div class="text">
                                <h4 style="font-size: 24px;" class="title" id="t6">عنوان</h4>
                                
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div>
                <a href="javascript:;" class="btn btn-block btn-primary btn-lg">مشاهدة ألمزيد</a>
            </div>

        </div>

    </div>
    <!-- * App Capsule -->


    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="more.html" class="item">
            <div class="col">
                <img src="../assets/img/sample/icons/more_black.png" alt="img" class="image-block imaged w24">
                <strong style="font-family: 'Lateef',  serif; font-size: 15px;">المزيد</strong>
            </div>
            <a href="news.html" class="item active">
                <div class="col">
                    <img src="../assets/img/sample/icons/newsb.png" alt="img" class="image-block imaged w24">
                    <strong style="font-family: 'Lateef',  serif; font-size: 15px;">ألاخبار</strong>
                </div>
     
                <a href="convert.html" class="item">
                    <div class="col">
                        <img src="../assets/img/sample/icons/convert.png" alt="img" class="image-block imaged w24">
                        <strong style="font-family: 'Lateef',  serif; font-size: 15px;">محول العملة</strong>
                    </div>
                </a>
            </a>
            
                
            </a>
            <a href="prices.html" class="item">
                <div class="col">
                    <img src="../assets/img/sample/icons/price_black.png" alt="img" class="image-block imaged w24">
                    <strong style="font-family: 'Lateef',  serif; font-size: 15px;">ألاسعار</strong>
                </div>
            </a>
        </a>
        
        <a href="home.html" class="item">
            <div class="col">
                <img src="../assets/img/sample/icons/home_black.png" alt="img" class="image-block imaged w24">
                <strong style="font-family: 'Lateef',  serif; font-size: 15px;">الرئيسية</strong>
            </div>
        </a>



    </div>
    <!-- * App Bottom Menu -->


  
    <!-- ///////////// Js Files ////////////////////  -->
    <!-- Jquery -->
    <script src="../assets/js/lib/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="../assets/js/lib/popper.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
   
    <!-- Owl Carousel -->
    <script src="../assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Base Js File -->
    <script src="../assets/js/base.js"></script>
    <!--control-->
    <script src="../assets/js/news.js"></script>

</body>


</html>